[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.0"
requests = "==2.32.4"
pandas = "==1.5.3"
numpy = "==1.24.2"

[dev-packages]

[requires]
python_version = "3.10"
